body{
    background-color: azure;
}

.content {
    display: flex;
    justify-content: center;
}

.calculator {
    width: 350px;
    background-color: #aaa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    border-style: solid;
}
.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
    background-color: #eee;
    height: 90px;
    padding: 16px;
    border-radius: 10px;
    border-style: solid;
}
.operation {
    font-size: 20px;
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
    align-items: flex-start;
}

.result {
    font-size: 40px;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.row {
    display: flex;
    width: 100%;
    gap: 10px;
}

.button-wrapper {
    flex: 1 1 0;
    height: 70px;
    border-radius: 10px;
    border-style: solid;
    background-color: #eeeeee;
} 

.button-wrapper:hover {
    background-color: rgba(238, 238, 238, 0.7);
}

button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    font-size: 20px;
} 
#clear {
    background-color: #FFAAAA;
}

#clear:hover {
    background-color: rgba(255, 170, 170, 0.7);
}

#delete {
    background-color: #AAAAFF;
}

#delete:hover {
    background-color: rgba(170, 170, 255, 0.7);
}

.operation-button {
    background-color: rgb(241, 161, 13);
}

.operation-button:hover {
    background-color: rgba(241, 161, 13, 0.7);
}

.button-clicked {
    border: 1px solid yellow;
}

.popup {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    background-color: #aaa;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 32px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid black;
}

.open-popup {
    visibility: visible;
    top: 50%; 
    transform: translate(-50%, -50%) scale(1);
}

.popup > div {
    color: black;
    font-size: 32px;
}

.popup > button {
    width: 150px;
    font-size: 16px;
    padding: 8px;
    background-color: #FFAAAA;
    border-radius: 10px;
    /* Remove inconsistent bordering */
    border: 1px solid black;
}

.popup > button:hover {
    border-color: #dddddd;
    border-width: 2px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.overlay-active {
    display: block;
  }